body {
  padding: 0;
  font-family: "Mark Pro Medium" !important;
  position: relative;
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  outline: 0 !important;
  text-decoration: none !important;
}

.myPad {
  padding: 0 145px;
}

@media (max-width: 722px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
}

@media (max-width: 745px) {
  .container_header {
    max-width: 100%;
    padding: 0;
  }
}

@media (min-width: 1300px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1380px;
  }
}

@media (min-width: 1458px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1440px;
  }
}

@media (min-width: 1500px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1460px;
  }
}

@media (min-width: 1700px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1560px;
  }
}

@media (min-width: 1920px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1610px;
  }
}

.noHeight {
  position: fixed !important;
  top: 0;
  left: 0;
  height: auto !important;
  transition: all 0.3s;
  transform: translateY(-100%);
  z-index: 555555;
  width: 100%;
  background-color: #fff;

  .header__topFlexBox {
    padding: 32px 61px;
  }

  .header__accountBox {
    color: #006068 !important;

    a {
      color: #006068 !important;
    }
  }

  .header__langBox {
    background-color: #f3f2ef;

    a {
      color: #b6a269 !important;
    }
  }
}

.fixedActive {
  transform: translateY(0);
  transition: all 0.3s;
}

.activeLink {
  transition: all 0.5s !important;

  @media (max-width: 992px) {
    height: 25px !important;
  }

  &:hover {
    transition: all 0.5s !important;
    background-color: #00afaa !important;
    color: #fff !important;
  }
}

.activeLinkHeader {
  transition: all 0.5s !important;

  &:hover {
    transition: all 0.5s !important;
    background-color: #006068 !important;
    color: #fff !important;
  }
}

.resortAbout__wrapper {
  &:hover {
    img {
      transition: all 0.8s;
      transform: scale(1.1);
    }
  }
}

.mapContainer {
  height: 980px;

  @media (max-width: 992px) {
    height: 300px;
  }
}

nav {
  position: relative;
}

.subMenu {
  position: absolute;
  left: -226px;
  min-width: 1248px;
  background-color: #fff;
  padding: 58px;
  display: flex;
  z-index: 55555;
  top: 19px;

  &__left {
    width: 50%;
    position: relative;
    margin-right: 30px;

    a {
      &:hover img {
        transition: all 0.8s;
        transform: scale(1.05);
      }
    }

    &:nth-child(odd) {
      &:after {
        position: absolute;
        content: "";
        right: 0;
        top: 15px;
        width: 1px;
        height: 100%;
        background-color: #006068;
      }
    }

    h4 {
      color: #006068;
      font-family: "Freight Big Pro";
      margin-bottom: 35px;
      font-weight: bold;
    }
  }

  &__link {
    display: inline-flex;
    // align-items: center;
    margin-bottom: 25px;

    img {
      width: 250px;
      object-fit: cover;
      transition: all 0.8s;
    }
  }

  &__info {
    position: relative;
    padding: 25px;
    h5 {
      font-family: "Mark Pro Medium";
      font-size: 13px;
      color: #006068;
    }

    p {
      color: #505050 !important;
      font-family: "Mark Pro Regular";
      font-size: 13px;
    }
  }
}

.homeHeader {
  // height: 100vh !important;
  position: absolute;
  width: 100%;
  transition: all 0.8s;
  z-index: 44444;
  @media (max-width: 992px) {
    height: 415px !important;
  }
}

.colorF {
  h1 {
    color: #fff;
  }

  p {
    color: #fff;
  }
}

.backColorF {
  background-color: #fff !important;
}

.events {
  .life {
    padding-top: 70px !important;
  }
}

.home {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;

  @media (max-width: 992px) {
    height: 415px !important;
  }
}

.inlineHeader {
  position: relative;
  height: auto !important;
  background-color: #fff !important;
  transition: all 0.8s;

  .header__itemsLogoBox {
    svg {
      path {
        fill: #006068;
      }
    }
  }


  .header__mobBtnBox {
    svg {
      line {
        stroke: #006068 !important;
      }
    }
  }

  .header__itemsBox--buttons {
    svg {
      circle {
        fill: #006068 !important;
      }
    }
  }

  .circle {
    svg {
      circle {
        fill: #006068 !important;
      }
    }
  }

  .lastItems {
    > a {
      background-color: #006068 !important;
      color: #fff !important;
    }

    svg {
      fill: #006068 !important;

      #Ellipse_32 {
        stroke: #006068 !important;
      }

      line {
        stroke: #006068 !important;
      }
    }
  }

  .header__itemsBox {
    svg {
      path {
        fill: #006068;
      }
    }

    a {
      color: #006068;

      &:after {
        background-color: #006068;
      }

      p {
        color: #006068;
      }

      span {
        color: #006068;
      }
    }
  }

  .header__animateBox {
    display: none;
  }

  .header__textBox {
    display: none;
  }

  .header__navBox {
    padding-bottom: 15px;
    margin-top: 58px;

    span {
      a {
        color: #006068;
      }
    }
  }
}

.inlineHeaderHome {
  height: auto !important;
  background-color: #fff !important;
  z-index: 55;
  transition: all 0.8s;

  .header__mobBtnBox{

    svg{
      line{
        stroke: #006068;
      }
    }

  }

  .header__itemsLogoBox {
    svg {
      path {
        fill: #006068;
      }
    }
  }

  .circle {
    svg {
      circle {
        fill: #006068 !important;
      }
    }
  }

  .lastItems {
    > a {
      background-color: #006068 !important;
      color: #fff !important;
    }

    svg {
      fill: #006068 !important;

      #Ellipse_32 {
        stroke: #006068 !important;
      }

      line {
        stroke: #006068 !important;
      }
    }
  }

  .header__itemsBox--buttons {
    svg {
      circle {
        fill: #006068 !important;
      }
    }
  }

  .header__itemsBox {
    svg {
      path {
        fill: #006068;
      }
    }

    a {
      color: #006068;

      &:after {
        background-color: #006068;
      }

      p {
        color: #006068;
      }

      span {
        color: #006068;
      }
    }
  }

  .header__animateBox {
    display: none;
  }

  .header__textBox {
    display: none;
  }

  .header__navBox {
    padding-bottom: 15px;
    margin-top: 58px;

    span {
      a {
        color: #006068;
      }
    }
  }
}

.inlineHeaderHomeForFixed {
  height: auto !important;
  background-color: #fff !important;
  z-index: 55;
  transition: all 0.8s;

  .header__itemsLogoBox {
    svg {
      path {
        fill: #006068;
      }
    }
  }

  .circle {
    svg {
      circle {
        fill: #006068 !important;
      }
    }
  }

  .lastItems {
    > a {
      background-color: #006068 !important;
      color: #fff !important;
    }

    svg {
      fill: #006068 !important;

      #Ellipse_32 {
        stroke: #006068 !important;
      }

      line {
        stroke: #006068 !important;
      }
    }
  }

  .header__itemsBox--buttons {
    svg {
      circle {
        fill: #006068 !important;
      }
    }
  }

  .header__itemsBox {
    svg {
      path {
        fill: #006068;
      }
    }

    a {
      color: #006068;

      &:after {
        background-color: #006068;
      }

      p {
        color: #006068;
      }

      span {
        color: #006068;
      }
    }
  }

  .header__animateBox {
    display: none;
  }

  .header__textBox {
    display: none;
  }

  .header__navBox {
    padding-bottom: 15px;
    margin-top: 58px;

    span {
      a {
        color: #006068;
      }
    }
  }
}

.inlineHeaderHomeSign {
  height: auto !important;
  background-color: #fff !important;
  z-index: 55;
  transition: all 0.8s;

  .header__itemsLogoBox {
    svg {
      path {
        fill: #006068;
      }
    }
  }

  .circle {
    svg {
      circle {
        fill: #006068 !important;
      }
    }
  }

  .lastItems {
    > a {
      background-color: #006068 !important;
      color: #fff !important;
    }

    svg {
      fill: #006068 !important;

      #Ellipse_32 {
        stroke: #006068 !important;
      }

      line {
        stroke: #006068 !important;
      }
    }
  }

  .header__itemsBox--buttons {
    svg {
      circle {
        fill: #006068 !important;
      }
    }
  }

  .header__itemsBox {
    svg {
      path {
        fill: #006068;
      }
    }

    a {
      color: #006068;

      &:after {
        background-color: #006068;
      }

      p {
        color: #006068;
      }

      span {
        color: #006068;
      }
    }
  }

  .header__animateBox {
    display: none;
  }

  .header__textBox {
    display: none;
  }

  .header__navBox {
    padding-bottom: 15px;
    margin-top: 58px;

    span {
      a {
        color: #006068;
      }
    }
  }
}

.importantRelative {
  position: relative !important;
}

.fixedTop {
  position: fixed !important;
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 656565;

  .header__mobBtnBox {
    svg {
      line {
        stroke: #006068 !important;
      }
    }
  }

  @media (max-width: 992px) {
    .header__flexHeader:after {
      display: none;
    }
  }
  
}

// sliders

// mob menu

.noTransform {
  transform: unset !important;
  transition: all 0.7s;
}

.overflowHidden {
  overflow-y: hidden;
}

.activeSign {
  transition: all 0.5s;
  opacity: 1 !important;
  z-index: unset !important;
  transform: unset !important;
}

.subMenuProfile {
  opacity: 0;
  z-index: -1;
  transform: translateY(-150%);

  .subMenu__left {
    padding-left: 40px;

    &:first-child {
      h4 {
        font-family: "Freight Big Pro";
        font-size: 40px;
        display: flex;
        flex-direction: column;

        span {
          font-family: "Mark Pro Regular";
          font-weight: normal;
        }
      }

      .header__profile {
        > div {
          &:not(:last-child) {
            margin-bottom: 25px;
          }
        }

        p {
          display: flex;

          span {
            // width: 50%;

            min-width: 160px;

            &:first-child {
              font-family: "Mark Pro Regular";
              font-size: 16px;
              color: #505050;
            }

            &:last-child {
              text-align: left;
              font-family: "Freight Big Pro";
              font-size: 16px;
              color: #006068;
              font-weight: bold;
            }
          }
        }
      }
    }

    &:last-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        font-family: "Mark Pro Regular";
        font-size: 16px;
      }

      a {
        width: 190px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Mark Pro Medium";
        color: #006068;
        font-size: 12px;
        border: 1px solid #006068;
      }
    }
  }
}

.signInOff {
  border: 1px solid #006068 !important;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding: 2px;

  img {
    width: 100%;
    height: 100%;
    display: block !important;
  }

  svg {
    display: none;
  }
}

.hoverBtn {
  &:hover {
    .header__searchBox {
      transition: all 0.4s;
      opacity: 1;
      z-index: 5;
    }
  }
}
