.dining {
  min-height: 910px;
  background-repeat: no-repeat;
  background-position: left bottom -5px;
  background-size: 817px;
  display: flex;
  align-items: center;
  padding: 70px 0;



  @media (max-width: 1300px) {
    max-height: 710px;
   }
   

  @media(max-width:992px){
    min-height: auto;
    padding: 50px 0;
    background-image: none !important;
    max-height: unset !important;
  }


  &__infoItem{
    display: -webkit-box;
    line-height: 24px;
    height: 147px;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;

    @media(max-width:992px){
      height: auto;
    }

  }


  &__wrapper {
    display: flex;

    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__left {
    width: 40%;
    display: inline-flex;
    align-items: center;

    @media (max-width: 992px) {
      width: 100%;
      margin-bottom: 25px;
    }

    .luxry__left {
      padding-right: 170px;
      width: unset;
      color: #505050;
      line-height: 24px;

      @media (max-width: 1300px) {
        padding-right: 25px;
      }

      
    }
  }

  &__right {
    width: 60%;

    @media (max-width: 992px) {
      width: 100%;
    }

    a{
      @media(max-width:992px){
        margin-top: 25px;
      }
  
    }

    .welcome__sliderImg {
      height: 300px;

      @media (max-width: 1300px) {
       height: 200px;
      }
      
      @media (max-width: 1300px) {
        max-height: 350px;
       }
       

    }

    .welcome__sliderTextBox {
      padding: 0;
      padding-top: 25px;

      p {
        display: -webkit-box;
        line-height: 24px;
        height: 147px;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;

        @media (max-width: 992px) {
          height: auto;
        }
      }
    }
  }
}
