.welcome {
  position: relative;
  padding: 100px 0;

  &__slider {
    h4 {
      text-align: center;
      color: #006068;
      font-family: "Freight Big Pro";
      font-weight: 700;
      font-size: 40px;
      margin-bottom: 38px;
    }
  }

  .owl-nav {
    position: absolute;
    display: block !important;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;

    .owl-prev {
      position: absolute;
      left: -74px;
      background-color: #00afaa !important;
      width: 55px;
      height: 55px;
      background-image: url("../img/down-chevronLeft.png") !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-size: 27% !important;
      transition: all 0.5s !important;

      &:hover {
        transition: all 0.5s !important;
        background-color: #006068 !important;
        color: #fff !important;
      }

      span {
        display: none;
      }
    }

    .owl-next {
      position: absolute;
      right: -74px;
      background-color: #00afaa !important;
      width: 55px;
      height: 55px;
      background-image: url("../img/down-chevronRight.png") !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-size: 27% !important;
      transition: all 0.5s !important;

      &:hover {
        transition: all 0.5s !important;
        background-color: #006068 !important;
        color: #fff !important;
      }

      span {
        display: none;
      }
    }
  }

  &__title {
    position: relative;
    margin: 0 auto;
    width: 929px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;

    h1 {
      text-align: center;
      color: #006068;
      font-family: "Freight Big Pro";
      font-weight: bold;
      font-size: 40px;
    }

    p {
      color: #505050;
      text-align: center;
      font-family: "Mark Pro Light";
    }

    a {
      background-color: #006068;
      padding: 0 10px;
      color: #fff;
      width: 180px;
      height: 45px;
      font-size: 12px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding-top: 4px;
      margin-top: 38px;
    }
  }

  &__sliderItem {
    &:hover {
      transition: all 0.8s;
      img {
        transition: all 0.8s;
        transform: scale(1.1);
      }
    }
  }

  &__sliderImg {
    height: 400px;
    transition: all 0.8s;
    overflow: hidden;

    img {
      transition: all 0.8s;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__sliderTextBox {
    padding: 15px;

    h4 {
      color: #006068;
      font-family: "Freight Big Pro";
      font-weight: bold;
      font-style: 20px;
    }

    p {
      font-family: "Mark Pro Light";
      font-size: 16px;
      display: -webkit-box;
      line-height: 24px;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      height: 118px;
      overflow: hidden;
    }

    a {
      display: inline-flex;
      margin-top: 60px;
      background-color: #006068;
      width: 205px;
      height: 37px;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-family: "Mark Pro Regular";
    }
  }
}
