.accomadation {
  .offers__wrapper {
    margin-top: 0;
    padding: 0;
  }

  .offers__items {
    @media (max-width: 1455px) {
      padding: 100px 82px;
    }

    @media (max-width: 992px) {
      padding: 30px 20px;
    }

    .offers__items--right {

      .d-flex {
        @media(max-width:992px){
          flex-direction: column;
        }
      }
    }

    &:nth-child(odd) {
      flex-direction: row-reverse;
      align-items: center;
      .offers__items--right {
        padding-left: 0;
      }
    }

    &:nth-child(even) {
      background-position: right 157px bottom -5px;
    }

    padding: 100px 179px;
  }

  .offers__buttonsBox {



    &:not(:last-child) {
      @media (max-width: 992px) {
        margin-bottom: 15px;
      }
    }

    a {
      color: #fff;
      min-width: 180px;

      @media(max-width:992px){
        height: 34px;
      }
    }
  }
}
