.diningPage {
  .offers__items--right {
    .d-flex {
      @media (max-width: 992px) {
        flex-direction: column !important;
      }
    }
  }

  .offers__items {
    flex-direction: row-reverse;
    padding: 100px 40px;
    margin-bottom: 100px;

    @media (max-width: 992px) {
      margin-bottom: 0;
    }

    @media (max-width: 575px) {
      padding: 20px;
    }

    .offers__items--right {
      h4 {
        margin-bottom: 20px;
      }
    }

    .offers__buttonsBox {

      @media(max-width:992px){
        margin-bottom: 10px;
      }

      a {
        min-width: 180px;
        color: #fff;
      }
    }
  }

  .resortAbout {
    justify-content: flex-start;
  }

  .resortAbout__wrapper {
    flex-direction: row-reverse;
  }

  .resortAbout__info {
    padding-right: 0;
    padding-left: 115px;

    @media (max-width: 1490px) {
      padding-left: 50px;
    }

    @media (max-width: 992px) {
      padding-left: 0;
    }
  }

  .welcome__sliderImg {
    height: auto !important;
    max-height: 527px;
  }

  .life__wrapper {
    flex-direction: row-reverse;
  }

  .life__left {
    margin-right: 0;
    margin-left: 128px;

    @media (max-width: 992px) {
      margin-left: 31px;
    }

    @media (max-width: 765px) {
      margin-left: 0px;
    }

    .life__linkBox {
      padding: 0 20px;

      > a {
        display: inline-flex;
        background-color: #006068;
        width: 180px;
        height: 45px;
        color: #fff;
        align-items: center;
        justify-content: center;
        font-family: "Mark Pro Medium";
        font-size: 12px;
        padding-top: 3px;
        margin-top: 40px;
      }
    }
  }

  .luxry {
    background-color: #f5f5f5;
    margin-bottom: 143px;

    .luxry__left {
      a {
        margin-top: 45px;
      }
    }

    .luxry__right {
      margin-bottom: -143px;
    }
  }

  .contact__left .form-group {
    input {
      border-radius: unset !important;
    }

    @media (max-width: 765px) {
      width: 100% !important;
    }

    &:nth-child(5) {
      margin-right: 35px;
    }
  }

  span {
    margin-bottom: 15px;
    display: inline-block;
    font-size: 16px;
    font-family: "Mark Pro Medium";
    color: #006068;
    position: relative;

    &:after {
      position: absolute;
      content: attr(data-alert);
      right: -13px;
      color: #e50000;
    }
  }

  .contact__left {
    select {
      margin-top: 0 !important;
      width: 100%;
      border-radius: unset !important;
    }
  }

  .flexFormContact {
    div {
      display: inline-flex;
      width: 100%;
    }

    input {
      width: 67px;
      text-align: center;
      @media (max-width: 765px) {
        width: calc(100% / 3);
      }

      &:not(:last-child) {
        margin-right: 15px;
      }

      &:last-child {
        width: 99px;

        @media (max-width: 765px) {
          width: calc(100% / 3);
        }
      }
    }
  }
}
