.mapPage {
  &__wrapper {
    display: flex;

    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__left {
    width: 50%;
    padding-right: 181px;
    padding-top: 50px;

    @media (max-width: 1251px) {
      padding-right: 50px;
    }

    @media (max-width: 992px) {
      width: 100%;
      padding-right: 0;
    }

    h4 {
      color: #006068;
      font-family: "Freight Big Pro";
      font-weight: 700;
      font-size: 40px;
    }

    p {
      font-family: "Mark Pro Regular";
      font-size: 16px;
      margin-top: 49px;
      color: #505050;
    }
  }

  &__right {
    position: relative;
    width: 50%;
    height: 500px;

    @media (max-width: 992px) {
      width: 100%;
      margin-bottom: 20px;
      margin-top: 20px;
      height: 250px;
    }

    #map {
      width: 100%;
      height: 100%;
    }

    #mapDirection{
      width: 100%;
      height: 100%;
    }
  }

  &__palaces {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5555;
    height: 63px;

    @media(max-width:992px){
      width: 100%;
      top: 0;
    }

    &--items{
      position: relative;
    }

    svg{
      position: absolute;
      right: 15px;
      top: 50%;
      -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    select {
      width: auto;
      height: 63px;
      padding: 0 25px;
      appearance: none;
      width: 363px;
      background-color: #00AFAA;
      color: #fff;
      font-size: 20px;
      font-family: "Mark Pro Regular";
      border: none;


      @media(max-width:992px){
        width: 100%;
        font-size: 14px;
        height: 40px;
        padding-left: 10px;
      }
    }
  }

  &__padBox {
    padding-left: 171px;

    @media (max-width: 1251px) {
      padding-left: 50px;
    }

    @media (max-width: 992px) {
      padding-left: 0;
      padding: 0 20px;
    }
  }
}

.mapHeader {
  height: auto !important;
}


.distance{
  position: absolute;
  width: auto;
  height: 100%;
  background: #00afaa;
  white-space: nowrap;
  align-items: center;
  display: none;
  color: #fff;
  font-size: 12px;
  padding-right: 8px;


  @media(max-width:992px){

    padding-right: 8px;
    left: 0;
    top: 40px;
    padding-left: 12px;

  }

}